body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; /* branco gelo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: #e3fde9; /* azul marinho bebê */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 90%; /* Utilizando porcentagem para ajuste responsivo */
    max-width: 400px; /* Definindo largura máxima para melhor legibilidade */
    text-align: center;
    height: 70vh; /* Definindo altura como 70% da altura da viewport */
    min-height: 300px; /* Definindo altura mínima */
    max-height: 600px; /* Definindo altura máxima */
    overflow: auto; /* Permitindo rolagem se o conteúdo ultrapassar a altura máxima */
}

.signup-container h2 {
    margin-bottom: 20px;
    color: #1a7e24; /* azul marinho mais escuro */
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #3db553; /* azul marinho mais escuro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #1a7e1f; /* azul marinho mais forte */
}

/* Media Query para telas menores, como celulares */
@media (max-width: 600px) {
    .signup-container {
        width: 90%; /* Ajustando largura para telas menores */
    }
}
